/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/

*{
    font-family: 'Roboto', sans-serif;
}

.vertical-align{
    vertical-align: middle;
}

/* BUTTONS COLORS AND STYLE*/
.blue-color{
    background-color: #47adf1;
}

.violet-color{
    background-color: violet;
}

.green-color{
    background-color: green;
}

.orange-color{
    background-color: orange;
}

.padding-tasks{
    padding-top: 20px;
}

.padding-tasks-menu{
    padding-bottom: 50px;
}

.buttons-list{
   
    border-radius: 15px;
    border-width: 1px;
    width: 80px;
    height: 30px;
    color: white;
}
/*BODY*/

body{
    background-color: rgb(160, 160, 160);
}

/*HEADER*/

header{
    background-color: white;
    margin-bottom: 20px;
}


h1{
    display: inline-block;
}

/*ADD TASK MENU*/

#add-task-menu{
    width: 75%;
    height: 60px;
    margin: auto;
    margin-bottom: 5px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#add-task-button{
    margin-left: 50px;
    margin-top: 15px;
    border-radius: 5px;
    border-width: 1px;
    width: 80px;
    height: 30px;
}

#add-section-button{
    background-color: white;
    border-width: 1px;
    border-radius: 5px;
    width: 80px;
    height: 30px;
}

/*TO DO LIST*/

.to-do-list{
    background-color: white;
    width: 75%;
    height: 800px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 50px;
}

.new-task-list{
    padding-top: 50px;
    line-height: 20px;
}

.checked{
    border-radius: 50%;
    border: 1px solid green;
    color: green;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    }

.no-checked{
    border-radius: 50%;
    border: 1px solid red;
    color: red;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}